* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #0b4654;
  font-family: "Athiti";
}
.wrapper {
  max-width: 1280px;
  margin: 0 auto;
}
/* header */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

.logo-brand {
  display: flex;
  align-items: center;
  gap: 20px;
}
.logo-img {
  width: 63px;
}

.brand-name {
  font-weight: 600;
  font-size: 28px;
  line-height: 45px;
}
img {
  width: 100%;
}

.menu-list {
  display: flex;
  gap: 42px;
  align-items: center;
}
.hamburger {
  display: none;
  width: 24px;
  height: 24px;
  background: url(./img/humburger.png);
}
li {
  font-size: 24px;
  line-height: 38px;
  font-weight: 500;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}
/* 1st screen */
main {
  display: flex;
  padding: 0 40px;
}
.first-screen {
  width: 50%;
  margin-top: 4rem;
  margin-right: 25px;
  font-family: "Inter";
  font-style: normal;
}

h1 {
  width: 90%;

  font-weight: 700;
  font-size: 48px;
  line-height: 64px;
  color: #1c1e52;
}
span {
  color: #07b464;
}
p {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: black;

  width: 25rem;
  margin: 22px 0 35px 0;
}
.btn-know-more {
  display: block;
  width: fit-content;

  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: white;

  border: none;
  padding: 14px 67px;
  background: linear-gradient(180deg, #34e06f 0%, #07b464 100%);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 2px 4px rgba(255, 255, 255, 0.25),
    inset 0px -2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
}

.main-img {
  width: 50%;
  margin-top: -71px;
}

.atom {
  display: none;
}

/* _______________________ */
.made {
  text-align: center;
  margin: 20px auto;
  font-weight: 700;
  line-height: 64px;
  color: #1c1e52;

  /* position: absolute;
    bottom: 0; */
}
.ul-list {
  background-color: #07b464;
  display: block;
  position: absolute;
}
/* мобільна версія
як на мене при 390 виглядає 
прям як у фігмі */
@media screen and (max-width: 1024px) {
  .menu-list {
    display: none;
  }

  .menu-list.active {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    padding: 5px;
    margin-left: 10px;

    justify-content: flex-end;
  }
  .menu-list li {
    font-size: 16px;
    line-height: 16px;
   
  }

  .hamburger {
    display: block;
    cursor: pointer;
     width: 24px;
  }

  .logo-brand {
    gap: 15px;
  }

  .logo-img {
    width: 56px;
  }
  .brand-name {
    font-size: 24px;
    line-height: 38px;
  }

  main {
    flex-direction: column;
  }

  .first-screen {
    width: auto;
    margin: 0;
    /* padding-inline: 24%; */
  }

  h1 {
    font-size: 24px;
    line-height: 32px;
    /* or 133% */

    text-align: center;
    width: 100%;
  }

  .first-screen p {
    width: 90%;
    margin: 10px auto 0;
    padding-inline: 10%;
    font-size: 12px;
    line-height: 16px;
    text-align: center;
  }
  .btn-know-more {
    margin: 15px auto;
    display: block;
    font-size: 13px;
    line-height: 16px;
    text-align: center;

    padding: 12px 55px;
  }

  .main-img {
    margin: 0 auto 24px;
    width: 100%;
  }

  /* mobile add section */
  .atom {
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 0.663073px solid #dedede;
    border-radius: 6.63073px;
    padding: 26px 0 40px;
    width: 80%;
    margin: auto;
  }
  .atom img {
    /* margin: 0 auto; */
    width: auto;
  }
  .atom h4 {
    margin: 15px auto;
    width: 40%;

    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */
    text-align: center;
    letter-spacing: 0.0663073px;
  }
  .atom p {
    width: 70%;
    text-align: center;
    margin: 0 auto;
    font-weight: 400;
    font-size: 11.9353px;
    line-height: 134%;

    text-align: center;
    letter-spacing: 0.132615px;

    color: #5c5c5c;
  }
}
@media screen and (max-width:390px) {
  .menu-list.active {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    padding: 4px;
    margin-left: 10px;
    width: 85%;
    
}

  .menu-list li {
    font-size: 14px;
    line-height: 14px;
  }

  .hamburger {
     width: 20px;
  }

  .logo-brand {
    gap: 4px;
  }

  .logo-img {
    width: 48px;
  }
  .brand-name {
    font-size: 18px;
    line-height: 16px;
  }


}